    <!-- portion of head below -->
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <!-- header including nav bar -->
    <%- include('../partials/navbar') %>
    <h1 class="text-center">Hello <% if (typeof user !== 'undefined') { %>
        <%= user.firstname %>
        <% } else { %>
            <% return ''%>
            <%}%>!</h1>
    <h5 class="text-center text-success"> Please see below your schedules for the week:</p>



    <!-- footer and end of page below -->
    <%- include('../partials/footer') %>

 