    <!-- portion of head below -->
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <!-- header including nav bar -->
    <%- include('../partials/navbar') %>
    <h1>Hello!</h1>



    <!-- footer and end of page below -->
    <%- include('../partials/footer') %>

 